.navbar {
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
 }
 
 .navbar-title {
   font-size: 90%;
   color: white;
 }
 
 .total-button {
   margin-left: auto;
   /* color: rgb(70, 121, 229) !important; */
   border: 1px solid rgb(70, 121, 229) !important;
 }
 
 .navbar .nav-link {
   border: 1px solid white;
   color: white;
   padding: 0.2rem;
   border-radius: 4px;
   margin: 0.5rem;
   font-size: 0.8rem;
   transition: all 400ms ease;
 }
 
 .navbar .nav-link:last-child {
   margin-right: 0.2rem;
 }
 
 .navbar .nav-link:hover {
   color: white;
   transform: translateY(-10%);
  
 }